<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello </h1>
    <div class="div_register_form">
        <fieldset>
            <legend>Register form</legend>
            <h4>{{message}}</h4>
            <h4>{{username_exists_message}}</h4>
            <form action="{% url 'user_registration' %}" method="post">
                {% csrf_token %}
                <label>Username:       <input type="text"     name="username"></label>
                <label>Password:       <input type="password" name="password"></label>
                <label>Password Again: <input type="password" name="confirmation"></label>
                <button type="submit">Register</button>
            </form>
        </fieldset>
    </div>
</body>
</html>